<div class="resizable-draggable" 
    [style.width.px]="width+50" 
    [style.height.px]="height+50">
    <!-- SVG container -->
    <svg [attr.width]="width+50" [attr.height]="height+50">
        <g>
            <rect x="10" y="30" #box
                [attr.width]="width"
                [attr.height]="height"
                rx="4"
                fill="#ffffff"
                style="filter: drop-shadow(0px 0px 4px rgb(196, 196, 196))"
                (mousedown)="setStatus($event, 2)"
                (window:mouseup)="setStatus($event, 0)" />
            <rect [attr.x]="width-20" [attr.y]="height"
                width="20"
                height="20"
                rx="10"
                fill="#333333"
                style="cursor: grab"
                (mousedown)="setStatus($event, 1)" />
        </g>
    </svg>
    <!-- SVG container -->
    <span>{{width | number:'1.0-0'}}px</span>
    <span>{{height | number:'1.0-0'}}px</span>
</div>